<!-- para el efacto de las imagenes -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- para el efacto de las imagenes -->
<script>
    (function() {
        AOS.init();
    }());
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
<script>
    $(document).ready(function() {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
<footer>
    <div class="ewk_cont_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2>EWebik</h2>
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                </div>
                <div class="col-md-3">
                    <h2>Categorías</h2>
                    <a href="#">Inicio</a>
                    <a href="#">Conocenos</a>
                    <a href="#">Proyectos</a>
                    <a href="#">Escribenos</a>
                </div>

                <div class="col-md-3">
                    <h2>Recomendado</h2>
                    <!-- 
                    <a href="#">
                        <p>Aprende Diseño web en el 2019, te aseguro no te arrepnteras</p>
                        <p>Enero 2019</p>
                    </a>-->
                    <hr />
                    <a href="#">
                        <p>Visita mi sitio web y siguenos en redes sociales y sobre todo da like a este video</p>
                        <p>Enero 2019</p>
                    </a>
                </div>
                <div class="col-md-3 ewk_cont_img_footer">

                    <h3>EWebik</h3>
                    <p>Electrónica y Diseño Web</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>